/* /.Recipecards {
    Background: white;
    Border-radius: 10px;
    Width: 900px;
    Height: 900px;
    Border: 4px solid black;
    } */

.recipe-image {
    width: 100%;
    height: 8rem;
}

.inside {
    list-style-position: inside;
}
