
.shopping-list {
  top: calc(30% - 200px);
  left: calc(90% - 200px);
  position: fixed;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

.standard-search{
  height: 10px;
}