.home {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  justify-content: start;
  z-index: 2;
  padding-left: 60px;
}

.NavBar {
    grid-column: 1 /span 2;
    grid-row: 1;
    background-color: #efc1a9;
    display: grid;
    align-items: center;
    justify-items: center;
  }
